{% extends 'layout.njk' %}

{% block main %}
<div class="py-8">
    <section>
        <div class="container-medium">
            <h1>Un projet de <span>création de site web</span> ?</h1>
            <div class="flex gap-x-8">
                <div>
                    <div>
                        <p>Développeur web diplômé depuis Février 2025 <span>basé sur Toulouse</span>, je propose de multiples services liés à la <span>création ou la reprise</span> de projets relatifs au développement de sites internet.</p>
                        <p><span>Mon objectif :</span> mettre en avant vos activités.</p>
                        <a href="">Voir les services proposés</a>
                    </div>
                </div>
                <!--<div>
                    <img src="/assets/images/computer-drawing.webp" alt="">
                </div>-->
            </div>
        </div>
    </section>
</div>
{% endblock %}
