{% extends 'layout.njk' %}

{% block main %}
<div class="py-8">
    <section>
        <div class="container-medium">
            <p>Hello, World !</p>
        </div>
    </section>
</div>
{% endblock %}
