<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Informalinx - Développement web</title>
        <link rel="stylesheet" href="/assets/css/main.css">
        <script src="/assets/js/main.js" type="module"></script>
    </head>
    <body>
        <header>
            <div class="container-medium flex justify-between gap-x-4 py-4 border-gray-300 border-b-1">
                <div class="text-green-600 font-bold">
                    <span>&gt;</span>
                    <span>Informalinx_</span>
                </div>
                <nav>
                    <ul class="flex gap-x-4">
                        <li>
                            <a href="" class="nav-link">Accueil</a>
                        </li>
                        <li>
                            <a href="" class="nav-link">Projets</a>
                        </li>
                        <li>
                            <a href="" class="nav-link">Services</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>{% block main %}{% endblock %}</main>

        <footer>
            <nav class="container-medium py-4 border-gray-300 border-t-1">
                <ul class="flex justify-center gap-x-4">
                    <li>
                        <a href="" class="nav-link">Politique de confidentialité</a>
                    </li>
                    <li>
                        <a href="" class="nav-link">Mentions légales</a>
                    </li>
                    <li>
                        <a href="" class="nav-link">Conditions d'utilisation</a>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
